* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color:#385170;
  /* position:relative;
  left:60px; */
  width: 100%;
  color:white;
}
img {
  max-width: 100%;
}
.header {
  display: flex;
  position:fixed;
  top:0;
  justify-content: center;
  align-items: center; 
  background-color: #385170;
  width:100%; 
  height:60px;
  gap : 20px;
  margin:10px;
  padding-bottom:10px;
  box-shadow: 0 1px 2px 0px #142d4c;
}
.header > h1 {
  font-size:5vh;
  /* text-shadow: 1px 1px 5px currentColor; */
  color:white;
}
.header>img {
  max-height: 100%;
  border-radius:50%;
}
.navbar {
  position:fixed;
  top:0;
  left:0;
  width: 60px;
  background-color: #142d4c;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height:100%;
  gap:10px;
  z-index:3;

}

.logo {
  max-width: 100%;
  /* width:px; */
}

.channels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}
.channels > img {
  /* width: 50px; */
  max-height: 70px;
}

.new-channel {
  margin-top: auto;
  margin-bottom: 5px;
  border-radius: 50%;
  max-width:80%;
  
}


.btn {
  background-color: #9fd3c7;
  color: #142d4c;
  border: none;
  border-radius: 10px;
  font-size: 3vh;
  font-weight: 900;
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left:auto;
  margin-right:20px;
}
.btn:hover {
  background-color: #82c6b6;
}
.reply-btn {
  background-color:#142d4c;
  color:white;
  border: none;
  border-radius: 10px;
  font-size: 3vh;
  font-weight: 900;
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left:auto;
  margin-right:20px;
}
.input {
   display:flex;
    flex-direction:row;
   align-items:center;
   position:fixed;
   background-color:#385170;
   width:100%;
   height:60px;
   bottom: 0;
   z-index:2; 
   box-shadow: 0px -0.5px 2px 0px #142d4c;
  }
.input > input {
  width: 100%;
  background-color:#415f84;
  border:none;
  border-style: none;
  margin-left: 85px;
  margin-right:3rem;
  color:white;
  font-weight: 700; 
  padding:0.5rem;
  font-size: 2vh;
  border-radius:5px;
}
.input > input:focus {
  outline: none;
}

.no-channel {
  margin-left:4rem;
}

.messages {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:space-between;
  
  margin-left:65px;
  margin-top:75px;
  padding:20px;
  gap:20px;
  /* width:100%; */
}




.message {
  display:flex;
  flex-direction:column;
  /* border:#142d4c solid 2px;
  border-radius: 10px; */
  background-color: #415f84;
  border-radius: 7px;
  width:100%;
  padding: 15px;
  gap:25px;
}

.msg-header {
  display:flex;
  flex-direction: row;
  height:20px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.msg-header > .username {
  font-weight: 900;
  font-size:3vh;
  color: white;
}

.msg-header >.time {
  font-size:2.5vh;
  font-weight:400;
  color:white;
  margin-left:10px;
}

.reply {
  color:#9fd3c7;
  font-size:3vh;
  /* margin-left:auto; */
  font-weight: 900;
}

.reply:hover , .reply-arrow:hover {
  scale: 1.3;
  /* color:#142d4c; */
  cursor: pointer;
}

.reply-arrow {
  border-radius:50%;
}


.msg-text {
  background-color: #415f84;
  color:white;
  align-self: flex-start;
  font-weight: 700; 
  padding:0.5rem;
  font-size: 2vh;
  border-radius:5px;
  width:100%;
  min-width: 200px;
  
}

.except-counter {
  width:100%;
}

.heading {
  color:white;
  align-self: center;
  /* text-decoration: underline;
  text-underline-offset: 10px; */
  font-weight: 900;
  color:white;    
text-shadow: 1px 0 white;
letter-spacing:1px;
font-weight:bold;
  font-size: 4vh;
}

.selected {
  border-bottom: 5px solid #9fd3c7;
  border-radius: 5px;
  /* border-image: linear-gradient(to right, #9fd3c7, #82c6b6); */
}

.reply-arrow {
  margin-left:auto;
  margin-right:0;
  width:25px;
  height:25px;
  gap:0px;
}

.replies {
  border-left:#142d4c solid 2px;
  padding-left:25px;

}

.no-channel {
  margin-top:70px;
}